body {
  font-family: Verdana;
  margin: 0 auto;
  max-width: 90em;
  background-color:black;
  text-align: center;
  color:grey;
  background-size: cover;
}


h1 {
	font: 50px;
	font-weight: normal;
	color: white;
 }

 h2 {
 	font: 42px;
 	font-weight: 300px;
 	color: white;

 }

 p {
 	font: 21px;
 }

.downloadlink p {
	font: 16px;
	color: aquamarine;
}

.footer {
	text-align: right;
}

a {
	color: hotpink;
}

.return {
	text-align: left;
}





